footer {
  width: 100%;
  background-color: #101F23;
  margin-bottom: 0;
  color: #cadece;
  margin: 0;
  padding: 10px 0;
  text-align: center;

  svg {
    color: #de3848;
  }
  .tudo-texto {
    color: #de3848; 
  }
}
